In [5]:
import pandas as pd
df = pd.read_csv("C:\\Users\\panda\\Documents\\machine_learning\\multivariate_data.csv")
df

,C1_X1,C1_X2,C2_X1,C2_X2,C3_X1,C3_X2,C4_X1,C4_X2
0,2.706225,9.407781,5.824904,7.525201,3.351950,3.334114,3.840876,5.577376
1,2.697701,7.247543,5.374379,7.453444,2.503363,4.641112,5.881083,6.300002
2,1.252542,7.242958,8.823484,8.679760,2.032260,5.951610,5.342140,4.099992
3,3.321254,9.939797,6.378003,8.536353,2.234694,5.162765,3.490318,5.824563
4,2.167483,7.780104,5.152108,7.719592,3.064460,3.326044,5.995217,5.907821
...,...,...,...,...,...,...,...,...
195,2.018151,6.420628,4.576973,8.339415,0.989093,6.880533,6.853132,4.869365
196,2.706027,8.743245,5.614309,7.398171,3.859967,2.197157,5.492366,3.669227
197,1.729778,7.578610,4.514036,7.528052,2.854985,3.730421,5.062393,5.226085
198,1.906434,6.569859,5.945178,7.104036,1.525352,5.574086,6.960799,4.866007
199,1.981190,6.106872,5.111637,9.147630,2.108853,6.252995,6.784043,4.490476

In [3]:
df1 = pd.read_excel("C:\\Users\\panda\\Documents\\machine_learning\\boston_house_data.xlsx")
df1

,Unnamed: 0,0,1,2,3,4,5,6,7,8,9,10,11,12
0,0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98
1,1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14
2,2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03
3,3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94
4,4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,501,0.06263,0.0,11.93,0,0.573,6.593,69.1,2.4786,1,273,21.0,391.99,9.67
502,502,0.04527,0.0,11.93,0,0.573,6.120,76.7,2.2875,1,273,21.0,396.90,9.08
503,503,0.06076,0.0,11.93,0,0.573,6.976,91.0,2.1675,1,273,21.0,396.90,5.64
504,504,0.10959,0.0,11.93,0,0.573,6.794,89.3,2.3889,1,273,21.0,393.45,6.48
505,505,0.04741,0.0,11.93,0,0.573,6.030,80.8,2.5050,1,273,21.0,396.90,7.88

In [9]:
df2 = pd.read_excel("C:\\Users\\panda\\Documents\\machine_learning\\boston_house_target.xlsx")
df2

     Unnamed: 0     0
0             0  24.0
1             1  21.6
2             2  34.7
3             3  33.4
4             4  36.2
..          ...   ...
501         501  22.4
502         502  20.6
503         503  23.9
504         504  22.0
505         505  11.9

[506 rows x 2 columns]

In [15]:
X = df1[12].values
X

array([ 4.98,  9.14,  4.03,  2.94,  5.33,  5.21, 12.43, 19.15, 29.93,
       17.1 , 20.45, 13.27, 15.71,  8.26, 10.26,  8.47,  6.58, 14.67,
       11.69, 11.28, 21.02, 13.83, 18.72, 19.88, 16.3 , 16.51, 14.81,
       17.28, 12.8 , 11.98, 22.6 , 13.04, 27.71, 18.35, 20.34,  9.68,
       11.41,  8.77, 10.13,  4.32,  1.98,  4.84,  5.81,  7.44,  9.55,
       10.21, 14.15, 18.8 , 30.81, 16.2 , 13.45,  9.43,  5.28,  8.43,
       14.8 ,  4.81,  5.77,  3.95,  6.86,  9.22, 13.15, 14.44,  6.73,
        9.5 ,  8.05,  4.67, 10.24,  8.1 , 13.09,  8.79,  6.72,  9.88,
        5.52,  7.54,  6.78,  8.94, 11.97, 10.27, 12.34,  9.1 ,  5.29,
        7.22,  6.72,  7.51,  9.62,  6.53, 12.86,  8.44,  5.5 ,  5.7 ,
        8.81,  8.2 ,  8.16,  6.21, 10.59,  6.65, 11.34,  4.21,  3.57,
        6.19,  9.42,  7.67, 10.63, 13.44, 12.33, 16.47, 18.66, 14.09,
       12.27, 15.55, 13.  , 10.16, 16.21, 17.09, 10.45, 15.76, 12.04,
       10.3 , 15.37, 13.61, 14.37, 14.27, 17.93, 25.41, 17.58, 14.81,
       27.26, 17.19, 15.39, 18.34, 12.6 , 12.26, 11.12, 15.03, 17.31,
       16.96, 16.9 , 14.59, 21.32, 18.46, 24.16, 34.41, 26.82, 26.42,
       29.29, 27.8 , 16.65, 29.53, 28.32, 21.45, 14.1 , 13.28, 12.12,
       15.79, 15.12, 15.02, 16.14,  4.59,  6.43,  7.39,  5.5 ,  1.73,
        1.92,  3.32, 11.64,  9.81,  3.7 , 12.14, 11.1 , 11.32, 14.43,
       12.03, 14.69,  9.04,  9.64,  5.33, 10.11,  6.29,  6.92,  5.04,
        7.56,  9.45,  4.82,  5.68, 13.98, 13.15,  4.45,  6.68,  4.56,
        5.39,  5.1 ,  4.69,  2.87,  5.03,  4.38,  2.97,  4.08,  8.61,
        6.62,  4.56,  4.45,  7.43,  3.11,  3.81,  2.88, 10.87, 10.97,
       18.06, 14.66, 23.09, 17.27, 23.98, 16.03,  9.38, 29.55,  9.47,
       13.51,  9.69, 17.92, 10.5 ,  9.71, 21.46,  9.93,  7.6 ,  4.14,
        4.63,  3.13,  6.36,  3.92,  3.76, 11.65,  5.25,  2.47,  3.95,
        8.05, 10.88,  9.54,  4.73,  6.36,  7.37, 11.38, 12.4 , 11.22,
        5.19, 12.5 , 18.46,  9.16, 10.15,  9.52,  6.56,  5.9 ,  3.59,
        3.53,  3.54,  6.57,  9.25,  3.11,  5.12,  7.79,  6.9 ,  9.59,
        7.26,  5.91, 11.25,  8.1 , 10.45, 14.79,  7.44,  3.16, 13.65,
       13.  ,  6.59,  7.73,  6.58,  3.53,  2.98,  6.05,  4.16,  7.19,
        4.85,  3.76,  4.59,  3.01,  3.16,  7.85,  8.23, 12.93,  7.14,
        7.6 ,  9.51,  3.33,  3.56,  4.7 ,  8.58, 10.4 ,  6.27,  7.39,
       15.84,  4.97,  4.74,  6.07,  9.5 ,  8.67,  4.86,  6.93,  8.93,
        6.47,  7.53,  4.54,  9.97, 12.64,  5.98, 11.72,  7.9 ,  9.28,
       11.5 , 18.33, 15.94, 10.36, 12.73,  7.2 ,  6.87,  7.7 , 11.74,
        6.12,  5.08,  6.15, 12.79,  9.97,  7.34,  9.09, 12.43,  7.83,
        5.68,  6.75,  8.01,  9.8 , 10.56,  8.51,  9.74,  9.29,  5.49,
        8.65,  7.18,  4.61, 10.53, 12.67,  6.36,  5.99,  5.89,  5.98,
        5.49,  7.79,  4.5 ,  8.05,  5.57, 17.6 , 13.27, 11.48, 12.67,
        7.79, 14.19, 10.19, 14.64,  5.29,  7.12, 14.  , 13.33,  3.26,
        3.73,  2.96,  9.53,  8.88, 34.77, 37.97, 13.44, 23.24, 21.24,
       23.69, 21.78, 17.21, 21.08, 23.6 , 24.56, 30.63, 30.81, 28.28,
       31.99, 30.62, 20.85, 17.11, 18.76, 25.68, 15.17, 16.35, 17.12,
       19.37, 19.92, 30.59, 29.97, 26.77, 20.32, 20.31, 19.77, 27.38,
       22.98, 23.34, 12.13, 26.4 , 19.78, 10.11, 21.22, 34.37, 20.08,
       36.98, 29.05, 25.79, 26.64, 20.62, 22.74, 15.02, 15.7 , 14.1 ,
       23.29, 17.16, 24.39, 15.69, 14.52, 21.52, 24.08, 17.64, 19.69,
       12.03, 16.22, 15.17, 23.27, 18.05, 26.45, 34.02, 22.88, 22.11,
       19.52, 16.59, 18.85, 23.79, 23.98, 17.79, 16.44, 18.13, 19.31,
       17.44, 17.73, 17.27, 16.74, 18.71, 18.13, 19.01, 16.94, 16.23,
       14.7 , 16.42, 14.65, 13.99, 10.29, 13.22, 14.13, 17.15, 21.32,
       18.13, 14.76, 16.29, 12.87, 14.36, 11.66, 18.14, 24.1 , 18.68,
       24.91, 18.03, 13.11, 10.74,  7.74,  7.01, 10.42, 13.34, 10.58,
       14.98, 11.45, 18.06, 23.97, 29.68, 18.07, 13.35, 12.01, 13.59,
       17.6 , 21.14, 14.1 , 12.92, 15.1 , 14.33,  9.67,  9.08,  5.64,
        6.48,  7.88])

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split


X = df1[12].values
y = df1['Purchased'].values

X_train, X_test, y_train, y_test = train_test_split(X_scaled, y, test_size=0.3)

def sigmoid(z):
    return 1 / (1 + np.exp(-z))

def predict(X, weights):
    return sigmoid(np.dot(X, weights))

def loss(y, y_pred):
    epsilon = 1e-10
    return -np.mean(y * np.log(y_pred + epsilon) + (1 - y) * np.log(1 - y_pred + epsilon))

def train(X, y, lr=0.01, epochs=2000):
    weights = np.zeros((X.shape[1], 1))
    y = y.reshape(-1, 1)

    for i in range(epochs):
        y_pred = predict(X, weights)
        error = y_pred - y
        grad = np.dot(X.T, error) / X.shape[0]
        weights -= lr * grad

    return weights

weights = train(X_train, y_train, lr=0.01, epochs=2000)

y_pred_test = predict(X_test, weights)
y_label_test = (y_pred_test >= 0.5).astype(int)

w0, w1, w2 = weights.ravel()
print(f"w0 = {w0:.4f}, w1 = {w1:.4f}, w2 = {w2:.4f}")

In [ ]:
feature 추출: 데이터 중 12번 열인 "인구중 하위 계층 비율" 을 특징 벡터로 사용
학습데이터: 테스트 데이터 비율 = 7:3 으로 분할
1_ 선형 회귀 모델 구성
1) 경사하강법 (학습률 = 0.01 , epoch = 10,000)을 이용해서 모델을 학습하고, 모델을 시각화하라
2) scikit-learn을 이용해서 모델을 학습하고, 모델을 시각화하라.

2. 비선형(2-4차) 회귀모델 구성
1) 경사하강법을 이용해서 모델을 학습하고, 모델을 시각화하라.
2) scikit learn을 이용해서 모델을 학습하고, 모델을 시각화하라.
3. 테스트 데이터를 사용해서 모델의 정확도를 평가하라

In [11]:
로지스틱 회귀모델을 구축하라.
4-class one vs one 분류법 사용
입력데이터 multivariate_data.csv
class1(x1,x2), class2(x1,x2),class3(x1,x2), class4(x1,x2)
scikit-learn을 이용해서 로지스틱 회귀모델을 학습하고, 모델을 시각화하라.

SyntaxError: invalid syntax (2133432510.py, line 1)

In [ ]:
2-class 데이터에 대한 로지스틱 회귀모델을 구축하라.
class1(x1,x2),class4(x1,x2)
class1(x1,x2)-> class 1 ,class4(x1,x2) -> class 0

경사하강법을 이용해서 로지스틱 회귀모델을 학습하고, 모델을 시각화하라, 학습률 0.01, epoch = 10000